head
  title Stay On Track

body
  div.navbar-fixed
    nav
      .nav-wrapper.container
        a.brand-logo(href="#") Stay on Track
        a.right.button-collapse(href='#', data-activates='slide-out')
          i.mdi-navigation-more-vert
        ul.right.hide-on-med-and-down
          li
            a(href="#") Stuff
          li
            a(href="#") Other stuff
        ul.side-nav(id="slide-out")
          li
            a(href="#") First Sidebar Link
          li
            a(href="#") Second Sidebar Link
      
  section.container
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title Trains
        p Blurb about trains
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title More Trains
        p More drivel  
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title Suprise! Yet More Trains
        p Absolute Rubish
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title Cats... Just Kidding More Trains
        p Some words that convey meaning
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title One More Card To Add To Page Height
        p Some words that convey a slightly different meaning
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title One More Card To Add To Page Height
        p Some words that convey a slightly different meaning
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title One More Card To Add To Page Height
        p Some words that convey a slightly different meaning
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title One More Card To Add To Page Height
        p Some words that convey a slightly different meaning
    div.card
      div(style="width: 100%").card-content.waves-effect
        span.card-title One More Card To Add To Page Height
        p Some words that convey a slightly different meaning


  

        
        
