head
  title stay-on-track

body
  nav
    .nav-wrapper.container
      a.brand-logo(href="#") Stay on Track
      ul.right.hide-on-med-and-down
        li
          a(href="#") Stuff
        li
          a(href="#") Other stuff
  .container
    h1 Content

